<%- include('../partials/header') %>
<form id="new-form" action="/events/<%= event._id %>?_method=PUT" method="POST">
    <label>Name:</label>
    <input type="text" name="name" value="<%=event.name%>">
    <label>Price:</label>
    <input type="text" name="price" value="<%=event.price%>">
    <label>Location:</label>
    <select name="location" value="<%=event.location%>">
        <option value="Parliament 
        811 Washington st. 
        Oakland, CA 94607">Parliament</option>
        <option value="The New Parish
        1743 San Pablo Ave
        Oakland, CA 94612
        ">The New Parish</option>
        <option value="Era Art Bar & Lounge
        19 Grand Ave
        Oakland, CA 94610">Era Art Bar & Lounge</option>
        <option value="Fox Theater
        1807 Telegraph Ave
        Oakland, CA 94612">The Fox Theater</option>
        <option value="Starline Social CLub
        2236 Martin Luther King Jr Way
        Oakland, CA 94612">Starline Social Club</option>
    </select>
    <label>Description:</label>
    <input name="description" value="<%=event.description%>"></input>
    <label>Photo:</label>
    <input type="text" name="image" value="<%=event.image%>">
    <input class="submit" type="submit" value="Submit">
</form>
<%- include('../partials/footer') %>