<%- include('../partials/header') %>

<section class="editor">
    <form action="/events/<%= event._id %>/edit" method="GET" class="secondary-content">
        <button type="submit" class="btn-update">EDIT</button>
    </form>
    <form action="/events/<%= event._id %>?_method=DELETE" method="POST" class="secondary-content">
        <button type="submit" class="btn-delete">DELETE</button>
    </form>
</section>


<img class="pimg" src="/images/<%= event.image %>">
<section id="show-page">
    <div>Price: </div>
    <div>$<%= event.price %></div>
    <div>Location: </div>
    <div><%= event.location %></div>
    <div>Description: </div>
    <div><%= event.description %></div>
</section>

<br><br>

<%- include('../partials/footer') %>